* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html,
body,
#root {
  user-select: none;
  width: 100%;
  height: 100%;
  font-family: "Trebuchet MS", sans-serif;
  --main-color: #00a85f;
  color: var(--main-color);
}

.text-c {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.25rem;
}

.hover:hover {
  cursor: pointer;
}

.link:hover {
  cursor: pointer;
}

.link:visited {
  color: black;
}

.link:link {
  color: black;
}
