* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html,
body,
#root {
  user-select: none;
  width: 100%;
  height: 100%;
  font-family: "Trebuchet MS", sans-serif;
  margin: 0px;
  padding: 0px;
  color: var(--main-color);
  /* background-image: -moz-repeating-linear-gradient(270deg, #ffffff, #f6f6f6 5%); */
}

/* variables */
#root {
  --main-color: #00a85f;
  --secondary-color: #3d3d3d;
}
