#list-content-container {
  height: 100%;
  width: 100%;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

#list-content-subcontainer {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  justify-content: flex-start;
  gap: 0.25rem;
  padding: 0.5rem;
}

#ungrouped-wrapper {
  width: 100%;
  justify-content: start;
}

#ungrouped-todos-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#group-wrapper {
  gap: 0.75rem;
}

.group-container {
  gap: 0.25rem;
  border: 0.25rem solid var(--main-color);
}

.group-name {
  width: fit-content;
  margin-right: 1.5rem;
  padding: 0.25rem;
  font-size: x-large;
  justify-content: start;
  text-decoration: underline;
  font-weight: bold;
  align-items: center;
}

.group-todos-container {
  align-items: start;
  padding: 0.25rem;
  padding-left: 1.5rem;
  justify-content: start;
}

.expand-arrow {
  rotate: -90deg;
}

.expand-arrow-selected {
  rotate: -180deg;
}

.group-filter-container {
  align-items: center;
}

.group-arrow {
  color: var(--secondary-color);
  background-color: inherit;
}

.filter-label {
  width: 4.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.todo-container {
  width: 61rem;
  font-size: 1.15rem;
  padding: 0.25rem;
  border: 0.25rem solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  border-color: var(--secondary-color);
}

.todo-left-container {
  width: fit-content;
  gap: 1.5rem;
}

.remove-duedate-button {
  border: none;
  background-color: var(--secondary-color);
  color: white;
  padding: 0.25rem;
  aspect-ratio: 1 / 1;
  height: 1.5rem;
  margin-left: 0.75rem;
}

.todo-dropdown-content {
  color: white;
  background-color: var(--secondary-color);
  border: 0.25rem solid white;
  padding: 0.25rem;
  font-weight: bold;
  border-radius: 0.5rem;
  text-align: center;
}

.todo-dropdown-content:hover {
  cursor: pointer;
}

.todo-dropdown-content * {
  background-color: white;
  color: var(--secondary-color);
}

#remove-group {
  background-color: white;
  color: black;
  font-weight: bold;
}
